html { height:100%;}
body {height: 100%;
  background-color: #E1E1E1;}

.App {
  text-align: center;
  margin-top: 20rem;
  //display: flex;
  //align-content: center;
  //align-items: center;
  //justify-content: center;
  & > div {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

